.easy {
    text-align: center;
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.bret-knife-container {
    position: relative; /* Added to position .player absolutely within */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bret-style img {
    height: 300px; /* Adjust the height as needed */
    margin: 0 10px;
}

.home-image-gamemode {
    height: 140px;
}

.info {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

.player {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 90%; /* Ensure it fits within the knife blade */
    text-align: center;
    overflow: hidden;
    position: absolute; 
    /* top: 35%;  */
    /* left: 45%;  */
    transform: translate(-50%, -50%); 
}

.grid-container {
    grid-template-columns: 1fr;
}

.grid-container2 {
    grid-template-columns: 1fr 1fr;
}

.grid-container3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.grid-container,
.grid-container2,
.grid-container3 {
    margin-left: 55px;
    margin-right: 55px;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-container3 .grid-item:nth-child(1) {
    grid-column-start: 1;
}

.grid-container3 .grid-item:nth-child(2) {
    grid-column-start: 2;
}

.roomba {
    height: 100px;
    width: 100px;
}

.button-1 {
    background-color: #F83E41;
    color: white;
    margin: 10px;
}

.button-2 {
    background-color: #FD9501;
    color: white;
    margin: 10px;
}

.button-3 {
    background-color: #F07128;
    color: white;
    margin: 10px;
}
