body{
    height: 50vh;
}

.grid-container {
    grid-template-columns: 1fr;
}

.grid-container2 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-container4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-container5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container, .grid-container2, .grid-container3, .grid-container4, .grid-container5 {
    margin-left: 55px;
    margin-right: 55px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-container3 .grid-item:nth-child(1) {
    grid-column-start: 1;
}

.grid-container4 .grid-item:nth-child(2) {
    grid-column-start: 2;
}

.roomba{
    height: 100px;
    width: 100px;
}

.home-image-gamemode{
    margin-top: -900px;
    height:140px;
}    

.info {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.CurrentPlayer{
    padding-top: 80px;
    margin-left: 170px;
    font-size: 26px;
}

.knife{
    margin-top: -50px;
}

.Hard{
    overflow-y:hidden;
}