.grid-container {
    grid-template-columns: 1fr;
}

.grid-container2 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-container4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-container5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container,
.grid-container2,
.grid-container3,
.grid-container4,
.grid-container5 {
    margin-left: 55px;
    margin-right: 55px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-container3 .grid-item:nth-child(1) {
    grid-column-start: 1;
}

.grid-container4 .grid-item:nth-child(2) {
    grid-column-start: 2;
}

.roomba {
    height: 70px;
    width: 70px;
}

.home-image-gamemode {
    margin-top: -100px;
    height: 140px;
}

.info {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Cplayer {
    margin-left: 170px;
    font-size: 26px;
}

.knife {
    margin-top: -50px;
}

.Hard {
    overflow-y: hidden;
}

.button-8 {
    background-color: teal;
    color: white;
    margin: 10px;
}

.button-9 {
    background-color: brown;
    color: white;
    margin: 10px;

}

.player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.bret-knife-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.bret-style img {
    height: 200px; 
    margin-bottom: 100px;
}

.Hardlvl{
    margin-top: 90px;
}