.grid-container {
    grid-template-columns: 1fr;
}

.grid-container2 {
    grid-template-columns: 1fr 1fr;
}

.grid-container3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-container4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.grid-container,
.grid-container2,
.grid-container3,
.grid-container4 {
    margin-left: 55px;
    margin-right: 55px;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-container3 .grid-item:nth-child(1) {
    grid-column-start: 1;
}

.grid-container3 .grid-item:nth-child(2) {
    grid-column-start: 2;
}

.roomba {
    height: 100px;
    width: 100px;
}

.home-image-gamemode {
    height: 140px;
}

.info {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Current {
    margin-top: 50px;
    margin-left: 190px;
    font-size: 30px;
}

h1 {
    margin-top: 90px;
}

.button-4 {
    background-color: #F98549;
    color: white;
    margin: 10px;

}

.button-5 {
    background-color: #91BF6D;
    color: white;
    margin: 10px;

}

.button-6 {
    background-color: #4B8F8E;
    color: white;
    margin: 10px;

}

.button-7 {
    background-color: #217B9F;
    color: white;
    margin: 10px;

}

.bret-knife-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bret-style img {
    height: 200px; 
}


.player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.player {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    margin-left: -200px;
    margin-top: -100px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 90%; /* Ensure it fits within the knife blade */
    text-align: center;
    overflow: hidden;
}
