.setup{
    height: 230px;
}

.home-image{
    margin-left: 5px;
    margin-bottom: 10px;
    height: 250px;
}

.playerSetup{
    display: flex;
    flex-direction: row;
    margin: -130px;
}

.playerOne {   
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px; 
    margin-top: 70px;
    margin-left: 110px;
    width: 200px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    box-sizing: border-box; /* Ensure padding and border are included in total width/height */
    font-size: 16px;
}

.playerTwo{
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px; 
    margin-top: 70px;
    margin-left: 110px;
    width: 200px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    box-sizing: border-box; /* Ensure padding and border are included in total width/height */
    font-size: 16px;
    } 