body {
  font-family: Arial, sans-serif;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Congrats {
  margin-top: 50px;
}

.winnerbg{
  margin-left: 300px;
}

.professors {
  display: flex;
  flex-direction: row;
}

.kohler, .sarah {
  margin-top: 200px;
  justify-self: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 25vw;
  height: 26vw;
}

.kohler {
  background-image: url('../../public/images/kohler.png');
}

.sarah {
  background-image: url('../../public/images/sarah.png');
}